body {
    margin: 0;
}

.show{
    display: block;
}

.hidden{
    display: none;
}

button{
    border: none;
    border-width: 0;
}

p{
    margin: 0;
    padding: 0;
}

.mask{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
}

.pause_view{
    width: 8rem;
    height: 6.4815rem;
    background-image: url(res/texture/pause/pause.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 5.1852rem  0 0 1.0741rem;
    overflow: hidden;
}


.pause_title{
    height: 1.0185rem;
    line-height: 1.0185rem;
    margin-top: 0.3519rem;
    text-align: center;
    font-size: 0.5556rem;
    color: #fff;
}

.pause_text{
    margin-top: 2.6667rem;
    text-align: center;
    font-size: 0.3333rem;
    color: #fff;
}

.pause_btn{
    margin-top: 2.0185rem;
    width: 2.9537rem;
    height: 0.8426rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
}

.pause_over{
    margin-left: 0.7222rem;
    background-image: url(res/texture/pause/btn_o.png);
}

.pause_again{
    margin-left: 1.0926rem;
    background-image: url(res/texture/pause/btn_a.png);
}

.over_view{
    width: 8rem;
    height: 9.537rem;
    margin: 3.9815rem 0 0 1.1111rem;
    background-image: url(res/texture/game_over/bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.over_title{
    margin-top: 0.4259rem;
    height: 1.0185rem;
    line-height: 1.0185rem;
    font-size: 0.5556rem;
    color: #fff;
    text-align: center;
}

.over_score{
    margin-top: 2.0556rem;
    height: 0.963rem;
    line-height: 0.963rem;
    font-size: 0.4259rem;
    color: #abd8f7;
    text-align: center;
}

.over_best_score{
    margin-top: 1.2037rem;
    font-size: 0.2963rem;
    line-height: 0.4537rem;
    color: #54a5d4;
    margin-left: 2.6667rem;
}

.over_best_rank{
    margin-top: 0.3333rem;
    font-size: 0.2963rem;
    line-height: 0.4537rem;
    color: #54a5d4;
    margin-left: 2.6667rem;

}

#over_relife{
    background-image: url(res/texture/game_over/btn_r.png);
    margin-top: 1rem;
    margin-left: 2.5185rem;
}

#over_over{
    background-image: url(res/texture/game_over/btn_o.png);
    margin-top: 0.9rem;
    margin-left: 0.537rem;
}

#over_again{
    background-image: url(res/texture/game_over/btn_a.png);
    margin-top: 0.9rem;
    margin-left: 1.1019rem;
}

.gg{
    position: absolute;
    width: 8rem;
    height: 9.537rem;
    left: 1.1111rem;
    top:3.9815rem;
    background-image: url(res/texture/game_over/huodongbg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 99;
}

.close{
    position: absolute;
    width: 0.3981rem;
    height: 0.3981rem;
    right: 0.1481rem;
    top:0.1481rem;
    background-image: url(res/texture/game_over/btn_closed.png);
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    background-color: transparent;
}

.guanggao_c{
    position: absolute;
    width: 7.4074rem;
    height: 7.4074rem;
    left: 0.2963rem;
    top:1.4444rem;
}

#world {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(#e4e0ba, #f7d9aa);
}

#control {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* button{
    margin-top: 100%;
    width: 20%;
    height: 50.004px;
} */

.move {
    position: absolute;
    width: 2.3704rem;
    height: 2.3704rem;
    bottom: 20%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.left {

    left: 10%;
}

.right {

    right: 10%;
}

.leftn{
    background-image: url(res/texture/gaming/anjian_left.png);
}

.rightn{
    background-image: url(res/texture/gaming/anjian_right.png);
}

.lefta{
    background-image: url(res/texture/gaming/anjian_lefta.png);
}

.righta{
    background-image: url(res/texture/gaming/anjian_righta.png);
}

.score_box {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    width: 3.4259rem;
    height: 0.8148rem;
    margin-left: 0.2222rem;
    margin-top: 0.2222rem;
}

.icon {
    width: 0.6759rem;
    height: 0.8148rem;
}

.num {
    width: 3rem;
    height: 0.6574rem;
    line-height: 0.6574rem;
    margin-top: 0.0278rem;
    margin-left: -0.2778rem;
    text-align: center;
    font-size: 0.3704rem;
    z-index: -1;
    color: #fff;
    background-image: url(res/texture/gaming/num_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.score {
    width: 3.4259rem;
    height: 0.3704rem;
    line-height: 0.3704rem;
    font-size: 0.3704rem;
    color: #fff;
    text-indent: 0.1852rem;
    margin-top: 0.2778rem;
}

.distance {
    position: absolute;
    width: 3.6111rem;
    height: 0.6481rem;
    line-height: 0.6481rem;
    left: 3.7037rem;
    top: 0.2407rem;
    font-size: 0.6111rem;
    text-align: center;
    color: #fff;
}

.zt {
    position: absolute;
    width: 0.7593rem;
    height: 0.7685rem;
    top: 0.2593rem;
    right: 0.2407rem;
}

.oil_box {
    /* display: flex;
    display: -webkit-box;
    display: -webkit-flex; */
    position: absolute;
    width: 7.8241rem;
    height: 0.5093rem;
    margin-left: 1.463rem;
    bottom: 0.3704rem;
    background-image: url(res/texture/gaming/youliang_b.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: visible;
}


.oil_icon {
    position: absolute;
    width: 0.5556rem;
    height: 0.4815rem;
    left: -0.6481rem;
    top: 0.0093rem;
}

.oil_num {
    width: 7.7778rem;
    height: 0.4722rem;
    margin-left: 0.0185rem;
    margin-top: 0.0185rem;
    line-height: 0.4722rem;
    font-size: 0.4259rem;
    text-align: center;
    color: #fff;
    background-image: url(res/texture/gaming/youliang_a.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.ai{
    position: absolute;
    width: 4.4537rem;
    height: 0.9259rem;
    bottom: 20%;
    left: 2.7685rem;
    background-image: url(res/texture/ai/zidong.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.ai_time{
    text-align: center;
    line-height: 0.3704rem;
    color: #fff;
    font-size: 0.3704rem;
}

.ai_img{
    position: absolute;
    width: 0.8981rem;
    height: 1.4167rem;
    left: 1.7778rem;
    top: -2.7778rem;
}

.ai_left{
    position: absolute;
    left: 0;
    bottom: 0.26851;
    width: 1.1852rem;
    height: 1.1852rem;
    background-image: url(res/texture/gaming/anjian_left.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.ai_right{
    position: absolute;
    right: 0;
    bottom: 0.26851;
    width: 1.1852rem;
    height: 1.1852rem;
    background-image: url(res/texture/gaming/anjian_right.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@keyframes ai_left_ani{
    50% {transform: translateX(-0.8333rem);background-image: url(res/texture/gaming/anjian_lefta.png);}
    100% {transform: translateX(0.8333rem);background-image: url(res/texture/gaming/anjian_left.png);}
}
@-webkit-keyframes ai_left_ani{
    50% {transform: translateX(-0.8333rem);background-image: url(res/texture/gaming/anjian_lefta.png);}
    100% {transform: translateX(0.8333rem);background-image: url(res/texture/gaming/anjian_left.png);}
}

@keyframes ai_right_ani{
    50% {-webkit-transform: translateX(0.8333rem);background-image: url(res/texture/gaming/anjian_righta.png);}
    100% {-webkit-transform: translateX(-0.8333rem);background-image: url(res/texture/gaming/anjian_right.png);}
}
@-webkit-keyframes ai_right_ani{
    50% {-webkit-transform: translateX(0.8333rem);background-image: url(res/texture/gaming/anjian_righta.png);}
    100% {-webkit-transform: translateX(-0.8333rem);background-image: url(res/texture/gaming/anjian_left.png);}
}

.run_left_ani{
    animation: ai_left_ani 1s infinite;
    -webkit-animation: ai_left_ani 1s infinite;
}

.run_right_ani{
    animation: ai_right_ani 1s infinite;
    -webkit-animation: ai_right_ani 1s infinite;
}

